* {
	/* everything helvetica */
	font-family: helvetica;
}

div.container {
	width: 600px; /*fix the width of the page */
	margin: 0 auto; /*center the page */
}

/* fancy way to select for a tag with a particular attribute */
input[type="text"] {
	width: 600px;
	height: 50px;
	font-size: 30px;
	border: 1px solid red;
	margin-bottom: 20px;
	padding-left: 20px;
	font-weight: normal;
}

input[type="button"], input[type="submit"] {
	display: block;
	width: 600px;
	height: 75px;
	font-size: 20px;
	text-transform: uppercase;
	background-color: red;
	border: 0px;
	margin-bottom: 20px;
}

section#messages article {
	width: 100%;
	margin: 30px 0px;
	float:left;
	border-bottom: 20px dotted #f0f0f0;
}


blockquote {
	font-weight: bold;
	font-color: #ffaadd;
	font-size: 100px;
	display: inline;
	margin: 0px;
	background-color: pink;
}


