* {
	/* everything helvetica */
	font-family: helvetica;
}

div.container {
	width: 900px; /*fix the width of the page */
	margin: 0 auto; /*center the page */
}

img#donkey {
	width: 300px;
	/* make the donkey not appear at all */
	display: none;

	/* this is necessary for javascript to be able to move this element */
	/* 'relative' means the position is relative to where the element would normally site */
	/* 'absolute' means the position is relative to the top left of the browser */
	position: relative;
}

input#button1 {
	display: block;
	width: 300px;
	height: 75px;
	font-size: 20px;
	text-transform: uppercase;
	background-color: red;
	border: 0px;
}






